@media (max-width: 400px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -508px 242px;
	}
}

@media (min-width: 401px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -381px 242px;
	}
}

@media (min-width: 501px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -254px 242px;
	}
}

@media (min-width: 601px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -127px 242px;
	}
}


@media (min-width: 701px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) 0px 242px;
	}
}

@media (min-width: 801px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -508px 0px;
	}
}

@media (min-width: 901px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -381px 0px;
	}
}

@media (min-width: 1001px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -254px 0px;
	}
}

@media (min-width: 1101px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) -127px 0px;
	}
}

@media (min-width: 1201px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png);	
	}
}