body {
	padding-left: 2%;
	padding-right: 2%;
	font-family: Arial;
}

.center {
	text-align: center;
}

.code {
	font-family: Courier New;
	text-align: center;
}
img{
	display: block;
	margin: 0 auto;
	}